@import url("css/reticula.css");
@import url("css/reset.css");
/* Patrick Hand - handlee */

html, body {
	color: #000;
	/*font-family: "Patrick Hand SC", cursive, sans-serif;*/
	font-family: 'Caveat', cursive;
	font-weight: 700;
	font-size: 30px;
}
a {
	text-decoration: none;
	color: #000;
}

/*======= Header Style =======*/

header, footer {
	font-size: 18px;
	box-sizing: border-box;
	width: 100%;
}
header {
	margin-bottom: 10px;
	top: 0;
	font-size: 30px;
	height: 230px;
}

header img{
	margin: 10px 0;
	width: 100%;
}
.caja{
	height: 30px;
	width: 200px;
	margin: 20px 0;
	border-style: none;
}
.carrito, .lupa{
	height: 30px;
	width: 30px;
	margin: 20px 0;
}
.navegador {
	padding: 5px 0;
	list-style: none;
}
.navegador:hover {
	text-decoration: underline;
}

/*======= Section Style =======*/
.full-height {
    box-sizing: border-box;
}

.icono {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	height: 30px;
	width: 30px;
	margin: 10px 0;
	padding: 0 20px;
}
.icono:hover {
	-webkit-filter: none;
	filter: none;
	height: 60px;
	width: 60px;
	margin: -5px;
}

.same-height {
    max-height: 320px;
    overflow: hidden;
}
.copain {
	height: 70px;
	width: 150px;
}
.producto {
	height: 150px;
	width: 150px;
	margin: 10px 0;
	padding: 0 20px;
}
.carrito2 {
	height: 30px;
	width: 30px;
	margin: 0;
}
/*================Editorial===================*/
h1 {
	font-size: 54px;
	font-weight: 700;
}
p {
	font-family: none;
	font-size: 16px;
	font-weight: 400;
	text-align: justify;
	line-height: 30px;
	padding: 30px 0 20px 0;
}
h2 {
	font-size: 18px;
	font-weight: 700;
	font-family: none;
}
.parrafo {
	padding-right: 50px;
	padding-bottom: 20px;
}
.parrafo2 p {
	font-family: none;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	padding: 30px 50px 0 0;
	text-align: justify;
	line-height: 20px;	
}
.parrafo2 li {
	font-family: none;
	font-size: 16px;
	font-weight: 400;
}
h3, h4 {
	font-family: none;
	font-size: 16px;
	font-weight: 400;
}
h3 {
	font-size: 18px;
}
h5 {
	padding: 20px 0 0 0;
}
h5 a:hover {
	color: blue;
}
/*================Formulario===================*/
.formulario {
	padding: 0;
	margin: 0;
}
form p {
	padding: 0 ;
	font-weight: 700;
	height: 35px;
}
form input {
	width: 100%;
	border-radius: 5px;
	border-style: groove;
	height: 25px;
}
form{
	padding: 10px;
}
.comentario {
	height: 63px;
}
input:focus {
	background-color: #EBECEC;
}
/*======= Footer Style =======*/
footer {
	padding: 10px 10px;
	color: #807A79;
	height: 100%;
	/*font-family: "Patrick Hand SC", cursive, sans-serif;*/
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
	
	height: 40px;
	bottom: 0;
}
